body,
html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: #000;
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;

    touch-action: none;

    font-family: 'Orbitron', 'Rajdhani', sans-serif;
}

#app {
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;
}

/* KHÔNG ép Phaser resize */
canvas {
    display: block;
    touch-action: none;
}